# ignore nextflow output 
.nextflow/
.nextflow.log*
*.swp
*.pyc
work/

# ignore output subfolders, but not output folder itselt 
!output/*
output/*

# ignore software and OS artifacts 
.DS_Store
.vscode/
