params {
    enable_conda = false
    fasta = "tools-test-dataset/getbasecountmultisample/chr22.fasta"
    fastafai = "tools-test-dataset/getbasecountmultisample/chr22.fasta.fai"
    bam = "tools-test-dataset/getbasecountmultisample/chr22.bam"
    bambai = "tools-test-dataset/getbasecountmultisample/chr22.bam.bai"
    vcf = "tools-test-dataset/getbasecountmultisample/chr22.vcf"
    fragment_count = 1
    filter_duplicate = 0
    maq = 20
    sample = "C-9M47TU-L001-d"
    outdir = "output"
}

process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].toLowerCase()}" }
    
}

profiles {
    debug { process.beforeScript = 'echo $HOSTNAME' }
    docker {
        docker.enabled = true
    }
    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
        docker.enabled         = false
        podman.enabled         = false
        shifter.enabled        = false
        charliecloud.enabled   = false
    }
}
