process {
    withName: 'HLAHD_FROM_BAM:SAMTOOLS_VIEW' {
        ext.prefix = { "${meta.id}.hla_region" }
    }
    withName: 'HLAHD_FROM_BAM:GATK4_REVERTSAM' {
        ext.prefix = { "${meta.id}.reverted" }
    }
    withName: 'HLAHD_FROM_BAM:SAMTOOLS_FASTQ' {
        ext.prefix = { "${meta.id}" }
    }
}
