process {

    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: "TRACEBACK:PVMAFCONCAT_INITIAL" {
        ext.args = '-h /Users/ebuehler/Documents/GitHub/traceback/assets/maf_header.txt'
    }

    withName: "TRACEBACK:PVMAFCONCAT_GENOTYPE" {
        ext.args = '-h /Users/ebuehler/Documents/GitHub/traceback/assets/maf_header.txt'
    }
    
}
