process {
    withName: '.*:BWA_MARKDUP_BQSR:BWA_MEM' {
        ext.args = "-R "\${meta.read_group}"
        ext.prefix = { "${meta.id}@${meta.read_group}" }
    }

    withName: '.*:BWA_MARKDUP_BQSR:GATK4_MARKDUPLICATES.*' {
        ext.args = { 
            [
                "--ASSUME_SORT_ORDER coordinate",
                "--CREATE_INDEX true"
            ].join(" ")
        }
    }

    withName: '.*:BWA_MARKDUP_BQSR:GATK4_BASERECALIBRATOR.*' {
        ext.args = "--verbosity INFO"
    }

    withName: '.*:BWA_MARKDUP_BQSR:GATK4_APPLYBQSR' {
        ext.args = "--create-output-bam-index true --create-output-bam-index true"        
    }

    withName: '.*:BWA_MARKDUP_BQSR:GATK4_APPLYBQSR_SPARK' {
        ext.args = "--create-output-bam-index true"        
    }
}