params {
    enable_conda = false
    purity_cval = 100
    cval = 50
    seed = 1000
    min_nhet = 25
    purity_min_nhet = 25
}

process {
    publishDir = { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" }
    withName: 'FACETS' {
        ext.args = "--purity-cval ${params.purity_cval} \
                    --cval ${params.cval} --seed ${params.seed} \
                    --everything --min-nhet ${params.min_nhet} \
                    --purity-min-nhet ${params.purity_min_nhet} -D . \
                    --facets-lib-path /usr/local/lib/R/site-library"
    }
    withName: 'SNPPILEUP' {
        ext.args = '--count-orphans --gzip --pseudo-snps 50 -r 25,0'
    }
}
